<!DOCTYPE html>
<html data-theme="light" lang="en" class="h-full antialiased scroll-smooth">
  <head>
    <title>Watheia Labs | We make technology easy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="h-full bg-base-100">
    <article>
      <%= render 'blocks/sections/header' %>
      <%= content_for?(:main) ? yield(:main) : yield %>
      <%= render 'blocks/sections/footer' %>
    </article>
  </body>
</html>
